.footer {
    background-color: #1d1d1d;
    .row{
        width: 85%;
        // max-width: 1024px;
        margin: 20px auto;
       
    
    .container {

        display: flex;
        flex-wrap: wrap;

        .foo-item {
            flex: 1 1 auto;

            .foo-details {
                .footers-img {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-top: 16px;
                    .foo-img {
                        width: 85px;
                        height: 85px;
                        overflow: hidden;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            filter: invert(100%) sepia(0%) saturate(7462%) hue-rotate(243deg) brightness(100%) contrast(100%);
                        }
                    }

                    h1 {
                        font-size: 34px;
                        color: white;
                    }
                }
                .foo-icon {
                    margin-top: 15px;
                    display: flex;
                    justify-content: space-around;
                    .MuiSvgIcon-root {
                        color: wheat;
                        font-size: 40px;
                    }
                }
            }
            .foo-db {
                display: flex;
            }
            .foo-title {
                font-size: 20px;
                color: white;
            }
            ul {
                list-style: none;
                font-size: 17px;
                color: white;
                margin-left: -25px;
            }
            button.ntn {
                border: 1px solid;
                border-radius: 42px;
                padding: 16px 30px;
                background: transparent;
                margin-top: 20px;
                &:hover{
                    background-color: #42474c;
                    transform: scale(.9);
                }
            }
        }
    }
}
}